name: Publish Development Artifacts
on:
  push:
    branches:
      - master
      - ci/*
      - release/*
  pull_request:
    branches:
      - master

jobs:
  gcp:
    name: Publish to GCP
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the code
        uses: actions/checkout@v3
        with:
          submodules: true

      - name: Auth GCP
        uses: google-github-actions/auth@v1
        with:
          credentials_json: ${{ secrets.GCP_ARTIFACTS_KEY }}

      - name: Setup GCP
        uses: google-github-actions/setup-gcloud@v1
        with:
          project_id: ${{ secrets.GCP_PROJECT_ID }}

      - name: Install Node.js
        uses: actions/setup-node@v3
        with:
          node-version: "24.x"
          always-auth: true

      - name: Install pnpm
        uses: pnpm/action-setup@v4

      - name: Install JS dependencies
        run: pnpm install

      - name: Build
        run: pnpm -r run build

      - name: Pack - core
        run: pnpm pack
        working-directory: packages/core

      - name: Pack - native
        run: pnpm pack
        working-directory: packages/node

      - name: Pack - web
        run: pnpm pack
        working-directory: packages/web
        env:
          NO_NPM_BINARY: "true"

      - name: Check Version
        id: package
        uses: codex-team/action-nodejs-package-info@v1.1
        with:
          path: packages/core

      - name: Upload to GCP
        run: |
          gsutil cp -n packages/core/*.tgz gs://artifacts.emerald.cash/builds/emerald-api-js/${GITHUB_SHA::8}/
          gsutil cp -n packages/node/*.tgz gs://artifacts.emerald.cash/builds/emerald-api-js/${GITHUB_SHA::8}/
          gsutil cp -n packages/web/*.tgz gs://artifacts.emerald.cash/builds/emerald-api-js/${GITHUB_SHA::8}/

      - name: Links to published artifacts
        run: |
          echo "Publishing artifacts to:"
          echo "  https://artifacts.emerald.cash/builds/emerald-api-js/${GITHUB_SHA::8}/emeraldpay-api-${{ steps.package.outputs.version }}.tgz"
          echo "  https://artifacts.emerald.cash/builds/emerald-api-js/${GITHUB_SHA::8}/emeraldpay-api-node-${{ steps.package.outputs.version }}.tgz"
          echo "  https://artifacts.emerald.cash/builds/emerald-api-js/${GITHUB_SHA::8}/emeraldpay-api-web-${{ steps.package.outputs.version }}.tgz"
