name: Unit Tests

on:
  # if pushed directly to the master
  push:
    branches:
      - master
      - release/*
      - ci/*
  # on a pull request
  pull_request:
    branches:
      - master
      - release/*
      - ci/*

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          submodules: true

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: "18.x"

      - name: Install pnpm
        uses: pnpm/action-setup@v4

      - name: Install JS dependencies
        run: pnpm install

      - name: Build
        run: pnpm -r run build
  tests:
    name: Test ${{ matrix.workspace }}
    continue-on-error: ${{ matrix.workspace == 'api-web' }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        workspace: [ "api", "api-node", "api-web" ]
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          submodules: true

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: "18.x"

      - name: Install pnpm
        uses: pnpm/action-setup@v4

      - name: Install JS dependencies
        run: pnpm install

      - name: Connect Tailscale
        uses: tailscale/github-action@v2
        with:
          oauth-client-id: ${{ secrets.TS_OAUTH_CLIENT_ID }}
          oauth-secret: ${{ secrets.TS_OAUTH_SECRET }}
          tags: tag:ci

      - name: Build
        run: pnpm -r run build

      - name: Test
        run: pnpm --filter @emeraldpay/${{ matrix.workspace }} run test
